body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-eg-btn-3 {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto 10px;
  padding: .5em;
  line-height: normal;
}
.container-eg-btn-3 .button {
  color: #fff;
  margin: 20px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: .3s;
  z-index: 1;
  background: #3aaeff;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: double;
}
.container-eg-btn-3 .button2 {
  color: #fff;
  margin: 20px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: .3s;
  z-index: 1;
  background: #ff001e;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: double;
}
.container-eg-btn-3 .button-1:hover {
  box-shadow: 0 0.6em 0.5em -0.4em rgb(131,58,180);
  transform: translateY(-0.25em);
  background: rgb(131,58,180);
}
.container-eg-btn-3 .button-2:hover {
  box-shadow: 0 0.6em 0.5em -0.4em rgb(22, 21, 21);;
  transform: translateY(-0.25em);
  background: rgb(22, 22, 22);;
}